body {
    font-family: 'Arial', sans-serif;
    height: 300%;  
    text-align: center;
}  
.sidebar {
    height: 100%; 
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.3s ease-in-out;
    padding-top: 60px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.sidebar li a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-size: 18px;
    transition: all .3s linear;
}

.sidebar li a:hover {
    background-color: #f0f0f0;
}

.menu-icon {
    cursor: pointer; 
    float: left;
    margin-right: 20px;
    height: 100px;
    font-size: 24px; 

} 
.menu-icon1 {
       position: relative; 
       bottom: 20px;
       right: -100px; 
       padding: 10px 20px;
            font-size: 16px;
            color: white;
            border: none;
            cursor: pointer;
} 

.show-sidebar {
    width: 250px;
}  
header {
            background-color: #ffffff;
            color: rgb(3, 0, 0);
            text-align: center;
            padding: 0em;
        }
        nav ul {  
            list-style: none;
            flex-wrap: wrap;
            display: flex;
            justify-content: space-evenly;

        }
        nav a {
            color: rgb(0, 0, 0);
            text-decoration: none;
            text-transform: none;
            transition: 0.25s ease;
        }
        ul li{
            text-decoration: none; 
            margin: 0 0.75em 0 0.75em; 
         } 
         ul:hover a {
            color: #575757;
         } 
         ul:hover a:hover {
            color: #f89e63d8;
            box-shadow: 0 2px 0 0 currentColor;
         } 
          .search-query {
             width: 30%;  
     box-shadow: 0 0 10px rgb(145, 145, 145); 
          }

.container {
    max-width: 600px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(77, 1, 30, 0.664);
    position: relative;  
    margin-left: 350px;
}

.brand-logo {
    display: flex;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 2.5rem;
    color: #000000;
    margin-top: 0;
    text-align: center;
}

h3 {
    font-size: 0.8.0rem;
    color: #291212;
    margin-top: 0;
    text-align: center;
}


.intro-text p {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 20px;
}

.question-block label {
    display:block;
    font-weight: bold;
    margin-bottom: 8x;
}

.question-block select, .question-block textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #DDD;
    border-radius: 5px;
    resize: vertical;
    transition: border-color 0.3s ease; 
}

#comments {
    display: block;
    font-weight: bold;
    margin-bottom: 8x;
     width: 100%;
    padding: 1px;
    border: 1px solid #DDD;
    border-radius: 5px;
    resize: vertical;
    transition: border-color 0.3s ease;
}



.question-block select:focus, .question-block textarea:focus {
    border-color: #000000;
}

.radio-buttons input[type="radio"] {
    margin-right: 5px;
}

.radio-buttons label {
    cursor: pointer; 
}     

button {
    cursor: pointer;
    background-color: #000000;
    color: white;
}

button:hover {
    background-color: #000000;
}

footer button {
    display: inline-block;
    margin-top: 20px;
}
#panel_1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background: linear-gradient(#1c1d1b, #0e0f0e);
    margin: auto;
}

#panel_2{
    display: grid;
    justify-content: center;
    align-items: center;
    height: auto;
	background: #000000;
    margin: auto;

}

#panel_3{
    display: grid;
    justify-content: center;
    align-items: center;
    height: auto;
	background: #000000;
    margin: auto;
}

#panel_4{
    display: grid;
    justify-content: center;
    align-items: center;
    height: auto;
	background: linear-gradient(rgba(0, 0, 0, .0), rgba(0, 0, 0, 1)), url(https://i.pinimg.com/originals/0e/2f/f9/0e2ff94f2d4ca58175e3ef06aa9188b6.jpg);
	background-size: cover;
    margin: auto;
}

.carousel {
    position: relative;
    width: 90%;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 33.33%;
    transition: transform 0.5s ease;
}

.carousel-item img {
    width: 100%;
    border-radius: 10px;
}

.carousel-caption {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
	border-radius: 15px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;       
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.carousel-button.left {
    left: 10px;
}  

.carousel-button.right {
    right: 10px;
} 
.highlight {
	transition: background-color 0.6s; 
     border-radius: 0.4; 
}

.highlight:hover {
	background-color: #a6965e;
	border-radius: 15px;
	box-shadow: 0 0px 60px rgba(201, 193, 199, 0.9);
	transition: transform 0.5s ease;
	font-weight: bold;

}


 