

body {
    font-family: Arial, sans-serif; 
    min-height: auto;
    max-height: auto; 
}
 
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.3s ease-in-out;
    padding-top: 60px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.sidebar li a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-size: 18px;
    transition: all .3s linear;
}

.sidebar li a:hover {
    background-color: #f0f0f0;
}

.menu-icon {
    cursor: pointer; 
    float: left;
    margin-right: 20px;
    height: 100px;
    font-size: 24px; 

} 
.menu-icon1 {
       position: relative; 
       bottom: 20px;
       right: -100px; 
       padding: 10px 20px;
            font-size: 16px;
            color: white;
            border: none;
            cursor: pointer;
} 

.show-sidebar { 
    width: 250px;
} 
        header {
            background-color: #ffffff;
            color: rgb(3, 0, 0);
            text-align: center;
            padding: 0em;
        }
        nav ul {  
            list-style: none;
            flex-wrap: wrap;
            display: flex;
            justify-content: space-evenly;

        }
        nav a {
            color: rgb(0, 0, 0);
            text-decoration: none;
            text-transform: none;
            transition: 0.25s ease;
        }
        ul li{
            text-decoration: none; 
            margin: 0 0.75em 0 0.75em; 
         } 
         ul:hover a {
            color: #575757;
         } 
         ul:hover a:hover {
            color: #f89e63d8;
            box-shadow: 0 2px 0 0 currentColor;
         }
        .container {
            position: relative; 
            display: flex ;
        }      
        .container1 {
            margin: 60px; 
            justify-content: space-evenly;
        }
       
        
        .search-query {
             width: 30%;  
     box-shadow: 0 0 10px rgb(145, 145, 145); 
             
    
        } 
        section {
             background-color: rgb(255, 255, 255); 
             width: 100%; 
             display:flex;
             justify-content: space-evenly; 
            
        } 
        .mini-container {
             margin: 60px; 
             justify-content: space-evenly; 
             
        }    

button {
    cursor: pointer;
    background-color: #000000;
    color: white;
}
 
.modal {
    display: none;
    position: fixed;  
    z-index: 1;
    left: 0;
    top: 0;   
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);  
    overflow: hidden; 
} 

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 15px;
    border: 1px solid #888;
    width: 400px;  
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    position: fixed; 
    left: 35%;  
    overflow: auto;  
    float: right;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}  
   img{
    max-width: 100%;    
}
.wrapper-img{    
    position: relative;
    max-width: 250px;
}
.wrapper-img .img-hide{    
    opacity: 0;    
    position:absolute;   
}
.wrapper-img:hover .img-hide{
    opacity: 1;
    position: absolute; top: 0; left: 0;  
    transition: all 0.5s ease-in-out;   
} 
.icon-button { background-image: url("icon.png"); 
    background-repeat: no-repeat; 
    background-position: center;  
    position: absolute; 
}    
.icon-btn:after { 
    content: url("icon.png"); 
    position: absolute; 
    right: 5px; 
    top: 50%; 
    transform: translateY(-50%); 
}  
.cart {
    display: none;  
    position: relative;
    width: 100px; 
    left: 90%; 
    cursor: pointer;
}     