html {
    height: 100%;
}
body {
    min-height: 100%; 
    position: relative; 
    padding-bottom: 60px;
} 
.footer { 
    text-align: center;
    position: absolute; 
    width: 100%; 
    height: 50px; 
    bottom: 0; 
    padding: 0; 
    background-color: #8a8a8a;
    color: white;
}